<!DOCTYPE html>
<html>
<head>
	<title>Category creation page</title>
	<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	 <div class="container-fluid">
	 <br/>
	 	<div class="glyphicon glyphicon-globe" area-hidden="true" style="font-size:25px"></div> 
    	<span style="font-size:25px"> &nbspCategory Creation</span><hr/>
	 	<br/>
	 	<div class="row">
	      <div class="col-md-6 col-md-offset-2">
	        <form class="form-horizontal" id="AddCategory" action="" method="post">
	          <label for="inputOldPass" class="col-xs-5 control-label" style="font-size:25px"><b>Category Name:</b></label>
	          <div class="col-xs-7" style="padding-bottom: 25px">
	            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter the name of the category...">
	          </div>
	          <br/><br/>
	          <div align="right">
	          	<button type="submit" class="btn btn-success">Create</button>
	            <a href="categoryManagement" type="button" class="btn btn-danger">Back to Category Management</a>
	          </div> 
	        </form>
	      </div>
	    </div>	 	
	 </div>

  <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
<script type="text/javascript">
	$(function() {
	$("#AddCategory").validate({
		rules: {
			inputName: "required",
		},
		messages: {
			inputName: 'Please type in category name'
		}
	});
});
</script>
</body>
</html>