<!DOCTYPE html>
<html>
<head>
  <title>Admin Login Page</title>
  <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
  <br/>
    <div class="glyphicon glyphicon-pencil" area-hidden="true" style="font-size:25px"></div> 
    <span style="font-size:25px"> &nbspSign In</span><hr/>
    <br/><br/><br/><br/><br/>
    {{#if hasError}}
             <div style="text-align: center; color: red">
              {{error}}
            </div>
        {{/if}}
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <form class="form-horizontal" id="AdminSignIn" action="" method="post">         
          <label for="inputUsername" class="col-xs-5 control-label" style="font-size:25px"><b>Username:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px" >
            <input type="text" class="form-control-lg" id="inputUsername" name="inputUsername">
          </div>
          <label for="inputPassword" class="col-xs-5 control-label" style="font-size:25px"><b>Password:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px" >
            <input type="password" class="form-control-lg" id="inputPassword" name="inputPassword">
          </div>
          <div class="footer text-center" style="padding-bottom: 25px">
            <button type="submit" class="btn btn-success btn-lg">LOG IN</button>
          </div>
        </form>
        <br/><br/><br/>
      </div>
    </div>
  </div>
  

  <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
  <script type="text/javascript">
    $(function() {
  $("#AdminSignIn").validate({
    rules: {
      inputUsername: "required",
      inputPassword: {
        required : true,
      }
    },
    messages: {
      inputUsername: 'Please type in your Username',
      inputPassword: {
        required: "Please type in your Password",
      }
    }
  });
});
  </script>
</body>
</html>