<!DOCTYPE html>
<html>
<head>
	<title>Category Management Page</title>
	<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	 <div class="container-fluid">
	 <br/>
	 	<div class="glyphicon glyphicon-globe" area-hidden="true" style="font-size:25px"></div> 
    	<span style="font-size:25px"> &nbspCategory Management</span><hr/>
	 	<div class="row">
	 		<div class="col-md-3">
	 			<div class="list-group">
	 			  <a href="userPermission" class="list-group-item">User Permission</a>
				  <a href="userManagement" class="list-group-item">User Management</a>
				  <a href="#" class="list-group-item active">
				    Category Management
				  </a>
				</div>
				<a href="/" class="button">Back to home page</a>
	 		</div>
	 		<div class="col-md-8">
	 			<table class="table table-stripe">
	 				<thead>
	 					<tr style="font-weight: bold">
		 					<td>ID</td>
		 					<td>Name</td>
		 					<td>&nbsp</td>
		 				</tr>
	 				</thead>
	 				<tbody>
	 					{{#each category}}
	 					<tr>
	 						<td>{{idCategory}}</td>
	 						<td>{{Name}}</td>
	 						<td>
	 							<a href="editCategory?id={{idCategory}}" class="btn btn-xs btn-primary" title="edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a href="delete?id={{idCategory}}" class="btn btn-xs btn-danger removeCategory" title="delete">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
	 						</td>
	 					</tr>
	 					{{/each}}
	 				</tbody>
	 			</table>
	 			<a href="addCategory" type="button" class="btn btn-success">Create a new category</a>
	 			<br/><br/>
	 		</div>
	 	</div>
	 </div>

  <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
</html>