<!DOCTYPE html>
<html>
<head>
	<title>User Permission Page</title>
	<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	 <div class="container-fluid">
	 <br/>
	 	<div class="glyphicon glyphicon-globe" area-hidden="true" style="font-size:25px"></div> 
    	<span style="font-size:25px"> &nbspUser Permission</span><hr/>
	 	<div class="row">
	 		<div class="col-md-3">
	 			<div class="list-group">
				  <a href="#" class="list-group-item active">
				    User Permission
				  </a>
				  <a href="userManagement" class="list-group-item">User Management</a>
				  <a href="categoryManagement" class="list-group-item">Category Management</a>
				</div>
				<a href="/" class="button">Back to home page</a>
	 		</div>
	 		<div class="col-md-8">
	 			<table class="table table-hover">
	 				<thead>
	 					<tr style="font-weight: bold">
		 					<td>ID</td>
		 					<td>Username</td>
		 					<td>Name</td>
		 					<td>E-mail</td>
		 					<td>&nbsp</td>
		 				</tr>
	 				</thead>
	 				<tbody>
	 					{{#each user}}
	 					<tr>
	 						<td>{{idUser}}</td>
	 						<td>{{UserName}}</td>
	 						<td>{{Name}}</td>
	 						<td>{{Email}}</td>
	 						<td>
	 							<a href="accept?id={{idUser}}" class="btn btn-xs btn-success" title="Accept">
									<span class="glyphicon glyphicon-ok"></span>
								</a>
								<a href="deny?id={{idUser}}" class="btn btn-xs btn-danger" title="Denied">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
	 						</td>
	 					</tr>
	 					{{/each}}
	 				</tbody>
	 			</table>
	 		</div>
	 	</div>
	 </div>

  <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
</body>
</html>