{{#section 'title'}}
Change Password Page
{{/section}}

<div class="container-fluid">
  <div class="glyphicon glyphicon-lock" area-hidden="true" style="font-size:25px"></div> 
  <span style="font-size:25px"> Change Password</span><hr/>
  <br/><br/>
  {{#if hasError}}
             <div style="text-align: center; color: red">
              {{error}}
            </div>
  {{/if}}
  {{#if isSuccess}}
             <div style="text-align: center; color: green">
              {{success}}
            </div>
  {{/if}}
  <br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <form class="form-horizontal" id="ChangePassword" action="" method="post">
          <label for="inputOldPass" class="col-xs-5 control-label" style="font-size:25px"><b>Old Password:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="password" class="form-control" id="inputOldPass" name="inputOldPass" placeholder="Enter your old Password...">
          </div>
          <label for="inputNewPass" class="col-xs-5 control-label" style="font-size:25px"><b>New Password:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="password" class="form-control" id="inputNewPass" name="inputNewPass" placeholder="Enter your new Password...">
          </div>
           <label for="inputRePass" class="col-xs-5 control-label" style="font-size:25px"><b>Confirm:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="password" class="form-control" id="inputRePass" name="inputRePass" placeholder="Re-enter your new Password...">
          </div>
          <div align="Center" style="padding-bottom: 25px">
          <div class="glyphicon glyphicon-refresh" area-hidden="true" style="font-size:20px"></div>
          <button type="submit" class="btn btn-info">Update</button>
          <a href="/userInfo?username={{layoutVM.user.UserName}}" type="button" class="btn btn-default">Back to User Info page</a>
          </div>  
        </form>
        <br/><br/><br/><br/>
      </div>
    </div>
</div> 

{{#section 'js'}}
<script src="/validation/changepassword-validation.js"></script>
{{/section}}