{{#section 'title'}}
  Feedback
{{/section}}

<div class="container" style="background-color: #EEEEEE; height: 1000px; border-radius: 10px;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3" style="background-color: #FFFFFF; border-radius: 10px;">
      <img style="width: 200px; height: 200px; border-radius: 10px; margin-bottom:10px; margin-top: 10px" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
      <div><b>Detail:</b></div>
      <div>Menber since: <b>10/10/2017</b></div>
      <div>Current lists: <b>0</b></div>
      <div>Total lists: <b>0</b></div>
      <div>Total lists complete: <b>0</b></div>
      <div>Total lists winner: <b>0</b></div>
      <br/>
      <div><b>My account:</b></div>
      <div><a href="/userInfo/yourlist">Your listings</a></div>
      <div><a href="/userInfo/yourbidon">Listing you on bid</a></div>
      <div><a href="/userInfo/watchlist">Watchlists</a></div>
    </div>

    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px">
      <div style="font-size: 24px; font-weight: bold; margin-top: 5px">to {{enCode user.UserName}}</div>
      <br/><br/>
      <div style="font-size: 24px; font-weight: bold">Comment:</div>
        <form class="form-horizontal" id="review" action="/userInfo/feedbackWin?idUser={{user.idUser}}" method="post">
          <div class="form-group" style="padding-left: 25px; padding-top: 20px; padding-right: 25px">
            <textarea class="form-control" rows="10" id="inputReview" name="comment"></textarea>
          </div>
          <div style="font-size: 24px; font-weight: bold">User Rating:</div>
          <div class="form-group" align="middle" style="font-size: 25px; margin-top: 20px">
            <label class="radio-inline" style="color: green"><input type="radio" name="rating" value="1" checked ><div  class="glyphicon glyphicon-plus" area-hidden="true" style="font-size:25px">POSITIVE</div></label>
            <label class="radio-inline" style="color: red; margin-left: 100px"><input type="radio" name="rating" value="-1"><div  class="glyphicon glyphicon-minus" area-hidden="true" style="font-size:25px">NEGATIVE</div></label>
          </div>
          <div align="right" style="margin-top: 50px; margin-bottom: 100px">
            <button type="submit" class="btn btn-success">Feedback</button>
          </div>
        </form>
    </div>
  </div>
</div>

{{#section 'js'}}
<script>
$(function() {
  $("#review").validate({
    rules: {
      comment: {
        required : true,
      },
      rating:{
        required: true
      }
    },
    messages: {
      comment: {
        required: "Please enter comment",
      },
      rating:{
        required: "Please choose positive or negative"
      }
    }
  });
});
</script>
{{/section}}
