{{#section 'title'}}
Kick user
{{/section}}

<div class="container" style="background-color: #EEEEEE; height: 100%; border-radius: 10px;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3" style="background-color: #FFFFFF; border-radius: 10px;">
      <img style="width: 200px; height: 200px; border-radius: 10px; margin-bottom:10px; margin-top: 10px" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
      <div><b>My account:</b></div>
      <div><a href="/userInfo/yourlist">Your listings</a></div>
      <div><a href="/userInfo/yourbidon">Listing you on bid</a></div>
      <div><a href="/userInfo/watchlist">Watchlists</a></div>
    </div>

    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px">
      <div style="font-size: 24px; font-weight: bold; margin-top: 5px">Kick someone from your list</div><hr/>
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th>User</th>
            <th>Bid price</th>
            <th>Time</th>
            <th>Kick</th>
          </tr>
        </thead>
        <tbody>
          {{#each user}}
            <tr>
              <td style="vertical-align:middle;"><a href="/userInfo/listfeedback?idUser={{idUser}}">{{enCode UserName}}</a></td>
              <td style="color: green; vertical-align:middle;">{{number_format CurrentPrice}}</td>
              <td style="color: red; font-size: 14px; vertical-align:middle;" >{{BidTime}}</td>
              <td style="vertical-align:middle;"> <a href="/userInfo/kickUser?idProduct={{idProduct}}&idUser={{idUser}}" class="btn btn-xs btn-primary" title="edit">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
{{/section}}

{{#section 'js'}}
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
$.extend( true, $.fn.dataTable.defaults, {
    "searching": false,
    "ordering": true
} );
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<script>
$.extend( true, $.fn.dataTable.defaults, {
    "searching": false,
    "ordering": true
} );
$(document).ready(function(){
    $('#myTable1').DataTable();
});
</script>

{{/section}}
