{{#section 'title'}}
  List feedback
{{/section}}

<div class="container" style="background-color: #EEEEEE; height: 1000px; border-radius: 10px;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3" style="background-color: #FFFFFF; border-radius: 10px;">
      <img style="width: 200px; height: 200px; border-radius: 10px; margin-bottom:10px; margin-top: 10px" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
      <div><b>My account:</b></div>
      <div><a href="/userInfo/yourlist">Your listings</a></div>
      <div><a href="/userInfo/yourbidon">Listing you on bid</a></div>
      <div><a href="/userInfo/watchlist">Watchlists</a></div>
    </div>

    <!--THIS IS WHERE YOU HAVE TO ADD THE CONTENT IN -->
    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px">
      <div style="font-size: 24px; font-weight: bold; margin-top: 5px">Feedback</div>
       <table class="table table-hover">
         <tr style="font-size: 20px; font-weight: bold" align="right">
                <td>&nbsp</td>
                <td>Rating</td>
          </tr>
          <tr style="color: green; font-size: 25px" align="right">
            <td width='200px'><div class="glyphicon glyphicon-plus" area-hidden="true"><b> Positive</b></div></td>
            <td style="vertical-align:middle;">{{sumPos.sum}}</td>
          </tr>
          <tr style="color: red; font-size: 25px" align="right">
            <td width='200px'><div class="glyphicon glyphicon-remove" area-hidden="true"><b> Negative</b></div></td></td>
            <td style="vertical-align:middle;">{{sumNeg.sum}}</td>
          </tr>
       </table>
    </div>
    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px; margin-top: 20px">
      <div style="font-size: 24px; font-weight: bold; margin-top: 5px">Comment:</div>
       <table class="table table-hover">
         {{#each feedbackPos}}
         <tr>
           <td>
             <div class="row">
               <div class="col-md-12">
                 <div style="font-style: italic">{{Comment}}</div>
                 <div style="color: blue; display: inline">{{Name}}</div>
                 <div style="display: inline">left</div>
                 <div style="color: green; display: inline">positive</div>
                 <div style="display: inline">feedback</div>
               </div>
             </div>
           </td>
         </tr>
         {{/each}}
         {{#each feedbackNeg}}
         <tr>
           <td>
             <div class="row">
               <div class="col-md-12">
                 <div style="font-style: italic">{{Comment}}</div>
                 <div style="color: blue; display: inline">{{Name}}</div>
                 <div style="display: inline">left</div>
                 <div style="color: red; display: inline">negative</div>
                 <div style="display: inline">feedback</div>
               </div>
             </div>
           </td>
         </tr>
         {{/each}}
       </table>
    </div>
    <!-- THE END OF CONTENT-->
  </div>
</div>
