{{#section 'title'}}
User Info Page
{{/section}}


<div class="container-fluid">
  <div class="glyphicon glyphicon-globe" area-hidden="true" style="font-size:25px"></div> 
  <span style="font-size:25px"> User Information</span><hr/>
  <br/><br/><br/>
  {{#with home}}
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <form class="form-horizontal" id="UserInfo" action="" method="post">
          <label for="inputUsername" class="col-xs-5 control-label" style="font-size:25px"><b>Username:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control" id="inputUsername" name="inputUsername" value="{{UserName}}" readonly>
          </div>
          <label for="inputName" class="col-xs-5 control-label" style="font-size:25px"><b>Your name:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control" id="inputName" name="inputName" value="{{Name}}">
          </div>
           <label for="inputEmail" class="col-xs-5 control-label" style="font-size:25px"><b>E-mail:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control" id="inputEmail" name="inputEmail" value="{{Email}}">
          </div>
          <label for="inputAddress" class="col-xs-5 control-label" style="font-size:25px"><b>Home Address:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control" id="inputAddress" name="inputAddress" value="{{Address}}">
          </div>
          <div align="Center" style="padding-bottom: 25px">
          <div class="glyphicon glyphicon-refresh" area-hidden="true" style="font-size:20px"></div>
          <button type="submit" class="btn btn-info">Update</button>
          </div>          
        </form>
      </div>
    </div>
  {{/with}} 
  <div style="margin-left: 500px"><a href="/userInfo/changePassword?username={{layoutVM.user.UserName}}">Change your password</a></div>
  <br/><br/>
</div>


{{#section 'js'}}
<script src="/validation/userinfo-validation.js"></script>
{{/section}}