{{#section 'title'}}
  Your Listing
{{/section}}

<div class="container" style="background-color: #EEEEEE; height: 100%; border-radius: 10px;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3" style="background-color: #FFFFFF; border-radius: 10px;">
      <img style="width: 200px; height: 200px; border-radius: 10px; margin-bottom:10px; margin-top: 10px" src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
      <div><b>My account:</b></div>
      <div><a href="/userInfo/yourlist">Your listings</a></div>
      <div><a href="/userInfo/yourbidon">Listing you on bid</a></div>
      <div><a href="/userInfo/watchlist">Watchlists</a></div>
    </div>

    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px">
      <div style="font-size: 24px; font-weight: bold; margin-top: 5px">Open Listings You Listed</div>
      <hr/>
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home">Open</a>
        </li>
        <li><a data-toggle="tab" href="#menu1">End with winner</a></li>
        <li><a data-toggle="tab" href="#menu2">End without winner</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Ramaining</th>
                <th>Price</th>
                <th>Seller</th>
                <th>Config</th>
                <th>
                  Kick
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr>
                  <td><a href="/detail/{{idProduct}}"><img style="width: 120px; height: 120px" src="{{MainPhoto}}" /></a></td>
                  <td style="vertical-align:middle;"><a href="/detail/{{idProduct}}">{{Name}}</a></td>
                  <td style="color: red; font-size: 14px; vertical-align:middle;">{{TimeEnd}}</td>
                  <td style="color: green; vertical-align:middle;">{{number_format BidPrice}}</td>
                  <td style="vertical-align:middle;">{{enCode UserName}}</td>
                  <td style="vertical-align:middle;"> <a href="/userInfo/edit?id={{idProduct}}" class="btn btn-xs btn-primary" title="edit">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
                  <td style="vertical-align:middle;"> <a href="/userInfo/kick?id={{idProduct}}" class="btn btn-xs btn-primary" title="edit">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div id="menu1" class="tab-pane fade">
          <table class="table table-striped" id="myTable1">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Ramaining</th>
                <th>Price</th>
                <th>Seller</th>
                <th>Feedback</th>
              </tr>
            </thead>
            <tbody>
              {{#each winner}}
                <tr>
                  <td><a href="/detail/{{idProduct}}"><img style="width: 120px; height: 120px" src="{{MainPhoto}}" /></a></td>
                  <td style="vertical-align:middle;"><a href="/detail/{{idProduct}}">{{Name}}</a></td>
                  <td style="color: red; font-size: 14px; vertical-align:middle;">{{TimeEnd}}</td>
                  <td style="color: green; vertical-align:middle;">{{number_format BidPrice}}</td>
                  <td style="vertical-align:middle;">{{enCode UserName}}</td>
                  <td style="vertical-align:middle;"> <a href="/userInfo/feedbackWin?idProduct={{idProduct}}" class="btn btn-xs btn-primary" title="feedback">
                    <span class="glyphicon glyphicon-hand-left"></span>
                  </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div id="menu2" class="tab-pane fade">
          <table class="table table-striped" id="myTable2">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Ramaining</th>
                <th>Price</th>
                <th>Seller</th>
                <th>Config</th>
              </tr>
            </thead>
            <tbody>
              {{#each nowinner}}
                <tr>
                  <td><a href="/detail/{{idProduct}}"><img style="width: 120px; height: 120px" src="{{MainPhoto}}" /></a></td>
                  <td style="vertical-align:middle;"><a href="/detail/{{idProduct}}">{{Name}}</a></td>
                  <td style="color: red; font-size: 14px; vertical-align:middle;">{{TimeEnd}}</td>
                  <td style="color: green; vertical-align:middle;">{{number_format BidPrice}}</td>
                  <td style="vertical-align:middle;">{{enCode UserName}}</td>
                  <td style="vertical-align:middle;"> <a href="/userInfo/edit?id={{idProduct}}" class="btn btn-xs btn-primary" title="edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section 'css'}}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
    $.extend(true, $.fn.dataTable.defaults, {
      "searching": false,
      "ordering": true
    });
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>
  <script>
    $.extend(true, $.fn.dataTable.defaults, {
      "searching": false,
      "ordering": true
    });
    $(document).ready(function() {
      $('#myTable1').DataTable();
    });
  </script>
  <script>
    $.extend(true, $.fn.dataTable.defaults, {
      "searching": false,
      "ordering": true
    });
    $(document).ready(function() {
      $('#myTable2').DataTable();
    });
  </script>

{{/section}}
