<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{{_sections.title}}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    {{{_sections.css}}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <style>
    .btn {
      -webkit-border-radius: 7;
      -moz-border-radius: 7;
      border-radius: 7px;
      font-family: Arial;
      color: #ffffff;
      font-size: 16px;
      background: #3498db;
      padding: 5px 15px 5px 15px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
    .disabled {
      pointer-events:none;
      opacity:0.6;
    }

    footer {
      background-color: black;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default" style="background-color: #FDF49D">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" src="https://www.raywhite.com/wp-content/themes/raywhitedotcom/img/liveauctions/logo-liveauctions.png" style="width: 50px; height: 50px">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" action="/search" method="POST">
          <div class="form-group">
        <ul class="nav navbar-nav">
          <li style="background: #FDF49D; margin-top: 6px">
            <select class="selectpicker show-menu-arrow" name="Category">
              <option value= "-1" >All category</option>
              {{#each layoutVM.categories}}
                <option value="{{idCategory}}">{{Name}}</option>
              {{/each}}
            </select>
          </li>
        </ul>

            <div class="input-group" style="margin-left: 10px; margin-top: 5px">
              <input type="text" class="form-control" placeholder="Search for..." name="searchString">
              <span class="input-group-btn">
                <button class="btn" type="submit">Search</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- <button type="submit" class="btn btn-default">Search</button> -->
        </form>

        <ul class="nav navbar-nav navbar-left">
          <li><a href="javascript:void(0);" id='ls'>List Item</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if hasUser}}
            <li><a href="/signIn">Login</a></li>
            <li><a href="/signUp">Sign Up</a></li>
          {{else}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{layoutVM.user.UserName}}</a>
              <ul class="dropdown-menu">
                <li><a href="/userInfo?username={{layoutVM.user.UserName}}">Change your Profile</a></li>
                {{#if  layoutVM.user.UserAsking}}

                  <li class="disabled"><a href="/userInfo/asking?username={{layoutVM.user.UserName}}">Asking for Sale Permission</a></li>
                  {{else}}
                  <li><a href="/userInfo/asking?username={{layoutVM.user.UserName}}">Asking for Sale Permission</a></li>
                {{/if}}
                <li><a href="/userInfo/listfeedback?idUser={{layoutVM.user.idUser}}">My feedback</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          {{/if}} {{!--
          <li><a href="/signIn">Login</a></li> --}}
        </ul>
      </div>

      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End nav here -->
  {{{body}}}

  <footer class="footer p-t-1">
    <div class="container">
      <div class="pull-right">
        <nav class="navbar" style="background:transparent; color: black;">
          <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Help</a>
            <a class="nav-item nav-link" href="adminLogin">Admin</a>
          </nav>
        </nav>
      </div>

      <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
      <a href="#"><i class="fa fa-pinterest-p fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa fa-flickr fa-2x"></i></a>
      <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>

    </div>
  </footer>
  <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
  <script>
  $('body').click(function(event) {
    if($(event.target).is('#ls')) {
      console.log({{layoutVM.user.Permission}});
      if ({{layoutVM.user.Permission}} == 0){
        alert("You need to asking for permission to list an item! \n Click on your username on right side")
      }else{
        window.location = "/listProduct";
      }
    }
  });
  </script>

  {{{_sections.js}}}
</body>
</html>
