{{#section 'title'}}
  Detail: {{product.Name}}
{{/section}}

<div class="container">
  <div class="row">
    <!-- Product title -->
    <div style="font-size: 36px; margin-bottom: 20px"><b> {{product.Name}} </b></div>
    <!-- end -->
    <div class="col-md-5">
      <div class="w3-content" style="max-width:1200px">
        <img class="mySlides" src="{{product.MainPhoto}}" style="height:500px; width: 500px" id="myImg">
        <img class="mySlides" src="{{product.Photo1}}" style="height:500px; width: 500px" id="myImg">
        <img class="mySlides" src="{{product.Photo2}}" style="height:500px; width: 500px" id="myImg">
        <div class="w3-row-padding w3-section">
          <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="{{product.MainPhoto}}" style="height:100px; width: 100px" onclick="currentDiv(1)">
          </div>
          <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="{{product.Photo1}}" style="height:100px; width: 100px" onclick="currentDiv(2)">
          </div>
          <div class="w3-col s4">
            <img class="demo w3-opacity w3-hover-opacity-off" src="{{product.Photo2}}" style="height:100px; width: 100px" onclick="currentDiv(3)">
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal">
      <!-- The Close Button -->
      <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01" >
      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>
    <div class="col-md-6 col-sm-offset-1">
      <div style="font-size: 24px; color: 'black'" >Owner: <a href="/userInfo/listfeedback?idUser={{layoutVM.user.idUser}}">{{enCode layoutVM.user.Name}}</a></div>
      <form action="" method="post" id="bidForm">
        <div style="font-size: 28px; color: green"> {{number_format product.BidPrice}} </div>
        {{#if isCurrentBid}}
        <div style="font-size: 15px">Current bid: no one bid yet</div>
        {{else}}
        <div style="font-size: 15px">Current bid: {{number_format currentBid.CurrentPrice}}</div>
        {{/if}}
        <div style="font-size: 15px">Bid jump: {{number_format product.BidJump}}</div>
        <div style="font-size: 15px">Amount bid's turn: {{turn.turn}}</div>
        {{#if errorBid}}
          <div style="text-align: center; color: red">Your bid price is not valid because someone got larger bid (detail in bid history)</div>
        {{/if}}
        {{#if errorPer}}
          <div style="text-align: center; color: red">Your your not allow to bid because your rating < 80%</div>
        {{/if}}
        <div class="button">
          <input class="input-lg" type="number" name="bidPrice" id="bid"/>
          <button type="submit" class="btn btn-group" style="cursor: hand;" onclick="return confirm('Are you really sure with bid price?')"> Bid </button>
          <button type="button" class="btn-round addWatchItem" style="margin-left: 40px" data-id="{{product.idProduct}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch item </button>
        </div>
        <hr>
        <div style="font-size: 28px; color: red"> {{number_format product.BuyPrice}}</div>
        <button class="btn-success btn-lg" style="cursor: hand; border-radius: 10px">GET IT NOW</button>
      </form>
      <div style="margin-top: 25px">
        <ul style="list-style: none;">
          <li>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{total}} watching(s)
          </li>
          <li>
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span><b id="time" style="margin-left: 5px"></b>
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="padding-right: 5px"></span>{{product.TimeEnd}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="tab" style="font-size: 18px">
      <button class="tablinks" onclick="openCity(event, 'Description')" id="defaultOpen"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Product's Description</button>
      <button class="tablinks" onclick="openCity(event, 'Listing')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Bid History</button>
    </div>
    <div id="Description" class="tabcontent">
      <h3>Product's Description</h3>
      <div style="align-content: center;">
        {{{product.Des}}}
      </div>
    </div>
    <div id="Listing" class="tabcontent">
      <div style="align-content: center;">
        <table class="table table-striped" id="myTable">
          <thead>
            <tr>
              <th>User</th>
              <th>Bid price</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {{#each bidLog}}
              <tr>
                <td style="vertical-align:middle;"><a href="/userInfo/listfeedback?idUser={{idUser}}">{{enCode UserName}}</a></td>
                <td style="color: green; vertical-align:middle;">{{number_format CurrentPrice}}</td>
                <td style="color: red; font-size: 14px; vertical-align:middle;" >{{BidTime}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
{{/section}}

{{#section 'js'}}
  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = x.length
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " w3-opacity-off";
    }
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  </script>
  <script type="text/javascript">
    function openCity(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>

  <script>
  document.getElementById('bid').placeholder = "minimum=" +  (Math.floor({{product.BidPrice}}) + Math.floor({{product.BidJump}}));
    // Set the date we're counting down to
    var countDownDate = new Date("{{product.TimeEnd}}").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now an the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="demo"
      document.getElementById("time").innerHTML = days + "d " + hours + "h " +
        minutes + "m " + seconds + "s ";

      // If the count down is over, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>
  <script>
  $('.addWatchItem').on('click', function () {
    var id = $(this).data('id');
    window.location= '/detail/watchitem/' + id;
  })
  </script>
  <script>
  $(function() {
    $.validator.addMethod("multipleBidJump", function(value, element) {
      var val = $("#bid").val();
      return ((parseFloat(val) - Math.floor({{product.BidPrice}}) ) % Math.floor({{product.BidJump}}) == 0);
    }, "Your bid price must be multiple of bid jump");
  	$("#bidForm").validate({
  		rules: {
  			bidPrice: {
          required : true,
          min: Math.floor({{product.BidPrice}}) + Math.floor({{product.BidJump}}),
          multipleBidJump: true
        }
  		},
  		messages: {
  			bidPrice: {
          required: "Please enter bid price",
          min: "Please enter price more than minimum required",
          multipleBidJump: "Your bid price must be multiple of bid jump"
        }
  		}
  	});
  });
  </script>
{{/section}}
