{{#section 'title'}}
  Edit Producr
{{/section}}
<div class="container">
  <div class="glyphicon glyphicon-gift" area-hidden="true" style="font-size:25px"></div>
  <span style="font-size:25px"> Post Product</span><hr/>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h3>Current's Description</h3>
      <div style="align-content: center;">
        {{{product.Des}}}
      </div>
    </div>
    <div class="col-md-6">
      <form class="form-horizontal" action="/userInfo/edit?id={{product.idProduct}}" method="POST">
        <div class="form-group">
          <h3>Description</h3>
          <textarea class="form-control" rows="5" id="inputDescription" name="description"></textarea>
        </div>
          <button type="submit" class="btn btn-info" style="margin-top: 15px">Update</button>
        </form>
    </div>
  </div>
</div>

{{#section 'css'}}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=sh9urqo27lqxrzhvaqhxz7q990ztp7u73emn0tje6zl7qov5"></script>
{{/section}}

{{#section 'js'}}
<script>
tinymce.init({
   selector:'textarea',
   height: 500,
 menubar: false,
 plugins: [
   'advlist autolink lists link image charmap print preview anchor',
   'searchreplace visualblocks code fullscreen',
   'insertdatetime media table contextmenu paste code'
 ],
 toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
 content_css: [
   '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
   '//www.tinymce.com/css/codepen.min.css']
 });
 </script>
{{/section}}
