{{#section 'title'}}
List Product
{{/section}}

<div class="container-fluid">
  <div class="glyphicon glyphicon-gift" area-hidden="true" style="font-size:25px"></div>
  <span style="font-size:25px"> Post Product</span>
  <hr/>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <form class="form-horizontal" id = "PostProduct" action="" method="POST" enctype="multipart/form-data">
      {{!-- <form class="form-horizontal" action="" method="POST" > --}}

        <div class="form-group">
          <label for="inputTitle" class="col-xs-5 control-label" style="font-size:25px"><b>Title:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Add your product title here...">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCategory" class="col-xs-5 control-label" style="font-size:25px"><b>Category:</b></label>
          <div class="col-xs-7" style="padding-bottom: 10px">
            <select class="form-control" style="width:350px" name="catID">
                {{#each category}}
                <option value="{{idCategory}}">{{Name}}</option>
                {{/each}}
	              {{!-- <option value="saab">Saab</option>
	              <option value="fiat">Fiat</option>
	              <option value="audi">Audi</option> --}}
	            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPhoto" class="col-xs-5 control-label" style="font-size:25px"><b>Photo:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="file" name="photos" class="form-control">
            <input type="file" name="photos" class="form-control">
            <input type="file" name="photos" class="form-control">
          </div>
        </div>

        <!-- <div class="form-group"></div> -->
        <div class="form-group">
          <label for="inputDescription" class="col-xs-5 control-label" style="font-size:25px"><b>Description:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <textarea class="form-control" rows="5" id="inputDescription" name="description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="inputBid" class="col-xs-5 control-label" style="font-size:25px"><b>Auction Bid:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="number" class="form-control" name="bidPrice" id="inputBid" placeholder="Input your prize ...">
          </div>
        </div>

        <div class="form-group">
          <label for="inputInstant" class="col-xs-5 control-label" style="font-size:25px"><b>Bid jump: </b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="number" class="form-control" name ='bidJump' id="inputBidJump" placeholder="Input your bid jump...">
          </div>
        </div>

        <div class="form-group">
          <label for="inputInstant" class="col-xs-5 control-label" style="font-size:25px"><b>Instant buy price:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="number" class="form-control" name = "instantPrice" id="inputInstant" placeholder="Input your prize...">
          </div>
        </div>

        <label for="inputDay" class="col-xs-5 control-label" style="font-size:25px"><b>Day(s) listing:</b></label>
        <div class="col-xs-7" style="padding-bottom: 10px">
          <select class="form-control" style="width:150px" name="dayEnd" id="inputDay">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
        <div class="col-xs7 col-xs-offset-5" style="padding-bottom: 25px">
          <button type="submit" class="btn btn-info">SUBMIT</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{{#section 'css'}}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=sh9urqo27lqxrzhvaqhxz7q990ztp7u73emn0tje6zl7qov5"></script>
{{/section}}

{{#section 'js'}}
<script src="/validation/postproduct.js"></script>
<script>
tinymce.init({
   selector:'textarea',
   height: 500,
 menubar: false,
 plugins: [
   'advlist autolink lists link image charmap print preview anchor',
   'searchreplace visualblocks code fullscreen',
   'insertdatetime media table contextmenu paste code'
 ],
 toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
 content_css: [
   '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
   '//www.tinymce.com/css/codepen.min.css']
 });
 </script>
{{/section}}
