{{#section 'title'}}
  Search
{{/section}}
<div class="container" style="background-color: #EEEEEE; height: 100%; border-radius: 10px;">
  <div class="row" style="margin: 10px">
    <div class="col-md-3" style="background-color: #FFFFFF; border-radius: 10px;">
      <div><b>Category</b></div>
      {{#each category}}
        <div><a href="/search/{{idCategory}}">{{Name}}</a></div>
      {{/each}}
    </div>

    <div class="col-md-8" style="background-color: #FFFFFF; border-radius: 10px; margin-left: 35px">
      <div class="row">
        <table class="table table-striped" id="myTable">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Ramaining</th>
              <th>Price</th>
              <th>Seller</th>
            </tr>
          </thead>
          <tbody>
            {{#each product}}
              <tr>
                <td><a href="/detail/{{idProduct}}"><img style="width: 120px; height: 120px" src="{{MainPhoto}}" /></a></td>
                <td style="vertical-align:middle;"><a href="/detail/{{idProduct}}">{{Name}}</a></td>
                <td style="color: red; font-size: 14px; vertical-align:middle;">{{TimeEnd}}</td>
                <td style="color: green; vertical-align:middle;">{{number_format BidPrice}}</td>
                <td style="vertical-align:middle;">{{enCode UserName}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
{{/section}}
{{#section 'js'}}
  <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
    $.extend(true, $.fn.dataTable.defaults, {
      "searching": false,
      "ordering": true
    });
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>
  {{/section}}
