{{#section 'title'}}
    Home Page
{{/section}}

<div class="container-fluid" style="margin-bottom: 20px">
  <div class="glyphicon glyphicon-tags" area-hidden="true" style="font-size:25px"></div>
  <span style="font-size:25px"> &nbsp Top 5 highest price</span><hr/>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{active.MainPhoto}}" alt="{{active.Name}}" style="width:100%; height: 500px">
          <div class="carousel-caption">
            <h1><a href="/detail/{{active.idProduct}}" style="color: 'white'">{{active.Name}}</a></h1>
          </div>
        </div>
        {{#each topHigh}}
        <div class="item">
          <img src="{{MainPhoto}}" alt="{{Name}}" style="width:100%;height: 500px">
          <div class="carousel-caption">
            <h1><a href="/detail/{{idProduct}}">{{Name}}</a></h1>
          </div>
        </div>
        {{/each}}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
  <div class="container">
    <div class="glyphicon glyphicon-tags" area-hidden="true" style="font-size:25px"></div>
    <span style="font-size:25px"> &nbsp Top 5 almost end</span><hr/>
    <div class="row">
      {{#each topEnd}}
      <div class="col-md-4">
        <div class="thumbnail" style="height:200px;">
          <img src="{{MainPhoto}}" alt="..." style="height:150px; width: 150px">
          <div class="caption">
            <h3><a href="/detail/{{idProduct}}">{{Name}}</a></h3>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="glyphicon glyphicon-tags" area-hidden="true" style="font-size:25px"></div>
    <span style="font-size:25px"> &nbsp Top 5 has the most bid turn</span><hr/>
    <div class="row">
      {{#each topBid}}
      <div class="col-md-4">
        <div class="thumbnail" style="height:200px;">
          <img src="{{MainPhoto}}" alt="..." style="height:150px; width: 150px">
          <div class="caption">
            <h3><a href="/detail/{{idProduct}}">{{Name}}</a></h3>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
