{{#section 'title'}}
Log In Page
{{/section}}

 <div class="container-fluid">
    <div class="glyphicon glyphicon-pencil" area-hidden="true" style="font-size:25px"></div> 
    <span style="font-size:25px"> &nbspSign In</span><hr/>
    <br/><br/><br/><br/>
    {{#if hasError}}
             <div style="text-align: center; color: red">
              {{error}}
            </div>
        {{/if}}
    <br/>
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <form class="form-horizontal" id="SignIn" action="" method="post">         
          <label for="inputUsername" class="col-xs-5 control-label" style="font-size:25px"><b>Username:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px" >
            <input type="text" class="form-control-lg" id="inputUsername" name="inputUsername">
          </div>
          <label for="inputPassword" class="col-xs-5 control-label" style="font-size:25px"><b>Password:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px" >
            <input type="password" class="form-control-lg" id="inputPassword" name="inputPassword">
          </div>
          <div class="footer text-center" style="padding-bottom: 25px">
            <button type="submit" class="btn btn-success btn-lg">LOG IN</button>
          </div>
        </form>
        <br/><br/><br/>
      </div>
    </div>
  </div>

{{#section 'js'}}
<script src="/validation/signin-validation.js"></script>
{{/section}}