{{#section 'title'}}
Sign Up Page
{{/section}}

<div class="container-fluid">
    <div class="glyphicon glyphicon-tags" area-hidden="true" style="font-size:25px"></div> 
    <span style="font-size:25px"> &nbspSign Up</span><hr/>
    <br/><br/>
    {{#if hasError}}
             <div style="text-align: center; color: red">
              {{error}}
            </div>
        {{/if}}
    <br/>
     
    <div class="row">
      <form class="form-horizontal" id="SignUp" method="post" action="">
        <div class="col-md-4   col-md-offset-2">
          <label for="inputUsername" class="col-xs-5 control-label" style="font-size:25px"><b>Username:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control input-lg" id="inputUsername" name="inputUsername" placeholder="Username...">
          </div>
          <label for="inputPassword" class="col-xs-5 control-label" style="font-size:25px"><b>Password:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="password" class="form-control input-lg" id="inputPassword"  name="inputPassword" placeholder="Password...">
          </div>
          <label for="inputPasswordRe" class="col-xs-5 control-label" style="font-size:25px"><b>Confirm:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="password" class="form-control input-lg" id="inputPasswordRe" name="inputPasswordRe" placeholder="Re-enter your password..">
          </div>
          <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
          <div class="g-recaptcha" data-sitekey="6LcCSiMUAAAAAHB0IVbxGfNGkYjPa9WZVTnfeEma"></div>
        </div>
        <div class="col-md-5">
          <label for="inputName" class="col-xs-5 control-label" style="font-size:25px"><b>Your Name:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control input-lg" id="inputLast"  name="inputName" placeholder="Your name...">
          </div>
          <label for="inputEmail" class="col-xs-5 control-label" style="font-size:25px"><b>E-mail:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control input-lg" id="inputEmail" name="inputEmail" placeholder="abc@gmail.com">
          </div>
          
          <label for="inputAddress" class="col-xs-5 control-label" style="font-size:25px"><b>Address:</b></label>
          <div class="col-xs-7" style="padding-bottom: 25px">
            <input type="text" class="form-control input-lg" id="inputAddress" name="inputAddress" placeholder="135 Nam Kì, quận 1">
          </div>
          
          <div class="col-xs7 col-xs-offset-5" style="padding-bottom: 25px">
            <button href="/" type="submit" class="btn btn-success">SIGN UP</button>
            <a href="/" type="button" class="btn">CANCEL</a>
          </div>
        </div>
      </form>      
    </div>
    <br/><br/><br/>
  </div>

{{#section 'js'}}
  <script src="/validation/signup-validation.js"></script>
 
{{/section}}


